# Created by .ignore support plugin (hsz.mobi)
# maven ignore
target/
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws
agent-workbench.iml

# temp ignore
*.log
agent-workbench.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db